<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="http://localhost:3000/"><img src="https://geotaste-storage.s3.us-east-2.amazonaws.com/images/geotastepic1.jpg" alt="Avatar" width="50" height="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/your_games"> Your Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/explore"> Explore </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/featured_games">Featured Games </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mini_games">Mini Games </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/my_profile">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      
    </ul>
  </div>
</nav>