@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.card-container {
    overflow-x: scroll;
    display: flex;
    background-color: #100e17;
    padding: 3rem;
    width: 1000px;
    max-width: 100%;
}

.card {
    border-radius: 16px;
    background-color: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transition: 0.2s;
}

.date {
    color: #8a8a8a;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 1rem;
}

.tags div {
    font-size: 9px;
    font-weight: 700;
    padding: 4px 10px;
    border: 3px solid #28242f;
    border-radius: 2rem;
}

.card .category-title {
    font-size: 14px;
    color: #fff;
    margin-bottom: 1rem;
}

.card .article-title {
    font-size: 20px;
    font-weight: 700;
}

.card .article-header {
    margin-bottom: auto;
}

.card .author {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 75px 1fr;
}

.author .info .caption {
    color: #8a8a8a;
}

.card:hover {
    transform: translateY(5px);
}

.card:hover~.card{
    transform: translateX(5px);
}

.scroll {
    background-color: rgb(3, 3, 3);
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 0 100px;

}

.card_yourGame {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}
  
.card_yourGame:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.container {
    padding: 2px 16px;
}
.text-right {
    text-align: right;
    padding-right: 100px;
} 


*,
*::before,
*::after {
box-sizing: border-box;
padding: 0;
margin: 0;
}

.container2 {
display: flex;
flex-wrap: wrap;
justify-content: right;
max-width: 1200px;
margin-block: 1rem;
gap: 2rem;
padding-right: 100px;
}
.container3 {
display: flex;
flex-wrap: wrap;
justify-content: right;
max-width: 1200px;
margin-block: 1rem;
gap: 2rem;
padding-right: 700px;
}


.card2 {
display: flex;
flex-direction: column;
width: clamp(20rem, calc(20rem + 2vw), 22rem);
overflow: hidden;
box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
border-radius: 1em;
background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);


}
.card2__body {
padding: 1rem;
display: flex;
flex-direction: column;
gap: .5rem;
}



.tag2 {
align-self: flex-start;
padding: .25em .75em;
border-radius: 1em;
font-size: .75rem;
}

.tag2 + .tag2 {
margin-left: .5em;
}

.tag2-blue {
background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
color: #fafafa;
}

.tag2-brown {
background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
color: #fafafa;
}

.tag2-red {
background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
color: #fafafa;
}

.card2__body h4 {
font-size: 1.5rem;
text-transform: capitalize;
}

.card2__footer {
display: flex;
padding: 1rem;
margin-top: auto;
}




