<!doctype html>
<html lang="en">
  <html lang="en">
<navbar>
	<%-include('./partials/navbar.ejs')%>
  </navbar>
	
  <header>
	<%-include('./partials/header.ejs')%>
	<link rel="stylesheet" href="navbar.css">
  </header>


<main>
	<div class = "navigation jumbotron">
		<h1>Explore page</h1>
		<p> This page would consist of the latest game news, so that the users can use this social media website as a platform to gain knowledge on particular areas of interest. 
			</p>
	</div>
	<footer><%-include('./partials/footer')%></footer>
</main>
</html>