<header>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
</header>
<%-include('./partials/header.ejs')%>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<body>
	<%-include('./partials/navbar.ejs')%>
	<div class = "scroll">
        <div class="card">
            <header class="article-header">
                <h1 class="article-title">
                    Fortnite
                </h1>
            </header>
            <div class="author">
                <img src="https://cdn2.unrealengine.com/7up-v2-3840x2160-e11fc91a84d6.jpg" alt="Fortnite" width="560" height="400">
                
                <div class="container2">
                    <div class="card2">
                        
                        <div class="card2__body">
                        <span class="tag tag-blue"></span>
                        <h4>About the game</h4>
                        <p>Fortnite is a survival game where 100 players fight against each other in player versus player combat to be the last one standing. It is a fast-paced, action-packed game, not unlike The Hunger Games, where strategic thinking is a must in order to survive. There are an estimated 125 million players on Fortnite.</p>
                        </div>
                        <div class="card2__footer">
                            <div class="tags">
                                <div>More info</div>
                                <div>Rate</div>
                            </div>
                        </div>
                    </div>
                </div>
              
                
            </div>

        </div>

        <div class="card">
            <header class="article-header">
                <h1 class="article-title">
                    Minecraft
                </h1>
            </header>
            <div class="author">
                <img src="https://play-lh.googleusercontent.com/yAtZnNL-9Eb5VYSsCaOC7KAsOVIJcY8mpKa0MoF-0HCL6b0OrFcBizURHywpuip-D6Y=w412-h220-rw" alt="Fortnite" width="560" height="400">
                
                <div class="container2">
                    <div class="card2">
                        
                        <div class="card2__body">
                        <span class="tag tag-blue"></span>
                        <h4>About the game</h4>
                        <p>Minecraft is a video game in which players create and break apart various kinds of blocks in three-dimensional worlds. The game's two main modes are Survival and Creative. In Survival, players must find their own building supplies and food. They also interact with blocklike mobs, or moving creatures.</p>
                        </div>
                        <div class="card2__footer">
                            <div class="tags">
                                <div>More info</div>
                                <div>Rate</div>
                            </div>
                        </div>
                    </div>
                </div>
              
                
            </div>

        </div>

        <div class="card">
            <header class="article-header">
                <h1 class="article-title">
                    Among Us
                </h1>
            </header>
            <div class="author">
                <img src="https://play-lh.googleusercontent.com/20WRzUOzjXVwgKFvl9AcvwClB537qZEfBUe186dEfFgCbWEuPu9_4-FElfHptKoE_g" alt="Fortnite" width="560" height="400">
                
                <div class="container2">
                    <div class="card2">
                        
                        <div class="card2__body">
                        <span class="tag tag-blue"></span>
                        <h4>About the game</h4>
                        <p>"Among Us" is an online strategy game that can be played on a PC, smartphone, or Nintendo Switch. In "Among Us," you play as crewmates trying to complete tasks, while one "Imposter" tries to sabotage you. Playing "Among Us" takes more thought than raw gaming skill, making it perfect for both casual and hardcore gamers.</p>
                        </div>
                        <div class="card2__footer">
                            <div class="tags">
                                <div>More info</div>
                                <div>Rate</div>
                            </div>
                        </div>
                    </div>
                </div>
              
                
            </div>

        </div>

        <div class="card">
            <header class="article-header">
                <h1 class="article-title">
                    Pokemon Sword and Shield
                </h1>
            </header>
            <div class="author">
                <img src="https://upload.wikimedia.org/wikipedia/en/f/fa/Pok%C3%A9mon_Sword_and_Shield.jpg" alt="Fortnite" width="560" height="400">
                
                <div class="container2">
                    <div class="card2">
                        
                        <div class="card2__body">
                        <span class="tag tag-blue"></span>
                        <h4>About the game</h4>
                        <p>Pokemon Sword and Shield games is to dethrone the Pokémon League Champion, Leon, in a tournament that various other Gym Leaders and rivals also take part in, whilst dealing with Team Yell and a nefarious conspiracy within the League.</p>
                        </div>
                        <div class="card2__footer">
                            <div class="tags">
                                <div>More info</div>
                                <div>Rate</div>
                            </div>
                        </div>
                    </div>
                </div>
              
                
            </div>

        </div>

        <div class="card">
            <header class="article-header">
                <h1 class="article-title">
                    Genshin Impact
                </h1>
            </header>
            <div class="author">
                <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_GenshinImpact_miHoYoLimited_S1_2560x1440-91c6cd7312cc2647c3ebccca10f30399?h=270&resize=1&w=480" alt="Fortnite" width="560" height="400">
                
                <div class="container2">
                    <div class="card2">
                        
                        <div class="card2__body">
                        <span class="tag tag-blue"></span>
                        <h4>About the game</h4>
                        <p>Genshin Impact is an open-world action role-playing game that allows the player to control one of four interchangeable characters in a party. Switching between characters can be done quickly during combat, allowing the player to use several different combinations of skills and attacks....</p>
                        </div>
                        <div class="card2__footer">
                            <div class="tags">
                                <div>More info</div>
                                <div>Rate</div>
                            </div>
                        </div>
                    </div>
                </div>
              
                
            </div>

        </div>

        <div class="card">
            <header class="article-header">
                <h1 class="article-title">
                    Halo Infinite
                </h1>
            </header>
            <div class="author">
                <img src="https://compass-ssl.xbox.com/assets/9c/94/9c944d9c-7ef1-4b46-9f68-9b02966d3993.jpg?n=Halo-Infinite_GLP-Page-Hero-0_1083x609.jpg" alt="Fortnite" width="560" height="400">
                
                <div class="container2">
                    <div class="card2">
                        
                        <div class="card2__body">
                        <span class="tag tag-blue"></span>
                        <h4>About the game</h4>
                        <p>The original trilogy centers on an interstellar war between humanity and an alliance of aliens known as The Covenant. The Covenant, led by their religious leaders called the Prophets, worship an ancient civilization known as the Forerunners, who perished while defeating the parasitic Flood....</p>
                        </div>
                        <div class="card2__footer">
                            <div class="tags">
                                <div>More info</div>
                                <div>Rate</div>
                            </div>
                        </div>
                    </div>
                </div>
              
                
            </div>

        </div>

        <div class="card">
            <header class="article-header">
                <h1 class="article-title">
                    Animal Crossing
                </h1>
            </header>
            <div class="author">
                <img src="https://assets.nintendo.com/image/upload/ar_16:9,b_auto,c_pad,dpr_3.0,f_auto,q_auto,w_500/b_rgb:ffffff/v1/ncom/en_US/games/switch/a/animal-crossing-new-horizons-switch/hero" alt="Fortnite" width="560" height="400">
                
                <div class="container2">
                    <div class="card2">
                        
                        <div class="card2__body">
                        <span class="tag tag-blue"></span>
                        <h4>About the game</h4>
                        <p>Animal Crossing is an endless and non-linear game in which a human takes up residence in a village inhabited by anthropomorphic animals. The main goal of the game is to save money in order to pay off the mortgage on the human's house. This requires collecting natural materials and selling them.</p>
                        </div>
                        <div class="card2__footer">
                            <div class="tags">
                                <div>More info</div>
                                <div>Rate</div>
                            </div>
                        </div>
                    </div>
                </div>
              
                
            </div>

        </div>

        <div class="card">
            <header class="article-header">
                <h1 class="article-title">
                    League of Legends
                </h1>
            </header>
            <div class="author">
                <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_LeagueofLegends_RiotGames_S1_2560x1440-ee500721c06da3ec1e5535a88588c77f" alt="Fortnite" width="560" height="400">
                
                <div class="container2">
                    <div class="card2">
                        
                        <div class="card2__body">
                        <span class="tag tag-blue"></span>
                        <h4>About the game</h4>
                        <p>League of Legends is a team-based strategy game where two teams of five powerful champions face off to destroy the other's base. Choose from over 140 champions to make epic plays, secure kills, and take down towers as you battle your way to victory.</p>
                        </div>
                        <div class="card2__footer">
                            <div class="tags">
                                <div>More info</div>
                                <div>Rate</div>
                            </div>
                        </div>
                    </div>
                </div>
              
                
            </div>

        </div>
        

    </div>
	<!-- <div class="input"> -->
		


	
		
	<!-- <div id="map"></div> -->

		
</body>

	
<%-include('./partials/footer')%>